<%# File Name: footer.ejs * Author's Name: David Yu 200286902 * Website Name:donaldrich.heroku.com * File Desciption: this is the footer of each web page %>

    <footer>
        <div class="wrap center-text">
            <ul class="nav navbar-nav social">
                <li><a href="">Privacy and Security</a></li>
                <li><a href="">Terms of Use</a></li>
                <li><a href="">Site Map</a></li>
                <li><a href="">Feedback</a></li>
            </ul>
            <p>&copy; Copyright 2016 Donald Rich, All Rights Reserved</p>
        </div>

    </footer>

    <!-- Latest   jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- Latest compiled and minifiedvJavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    </body>

    </html>