<%# File Name: about.ejs * Author's Name: David Yu 200286902 * Website Name:donaldrich.heroku.com * File Desciption: this is an about page page. %>

<%- include partials/header.ejs %>
    <h1>About Me</h1>
    <img src="images/aboutme.jpg">
    <h2>My Name Is Donald. I Am The Richest Person In Canada. </h2>
    <h4>You will be so <strong>JEALOUS</strong> when you know how much money I have. </h4>
    <h4>My cleaners get new Gucci, LV, Rolex more frequently than you dump your trash. <br />
        Heard about the high-end Alo Restaurant, Michael's On Simcore, Indie88? Owned by my cooks. <br />
        Every single of my driver has at least 5 Rolls-Royce, 10 Maserati, 20 Bentley, and 50 BMW and Benz. <br />
        Every Christmas Eve, we are just so nice to give stuff away to homos who line up all the way from Eglinton Ave to King St. <br />
        My wives...wow, I don't think you want to know. They are soooo beautiful!! You know, when you reach this massive
        weath, women don't know what to do anymore other than marrying you.</h4>
    <%- include partials/footer.ejs %>