<%# File Name: error.ejs * Author's Name: David Yu 200286902 * Website Name:donaldrich.heroku.com * File Desciption: this is an error page in case something goes wrong. %>
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>