<%# File Name: index.ejs * Author's Name: David Yu 200286902 * Website Name:donaldrich.heroku.com * File Desciption: the handler that renders all the pages handle all the pages and send emails. %>

    <%- include partials/header.ejs %>
        <h1><%= title %></h1>
        <h4>Welcome to <%= message %></h4>
        <img src="images/homepage.jpg">
        <%- include partials/footer.ejs %>