<%# File Name: projects.ejs * Author's Name: David Yu 200286902 * Website Name:donaldrich.heroku.com * File Desciption: this is the project page html %>
    <%- include partials/header.ejs %>
        <h1><%= title %></h1>
        <h2>I Built These Companies </h2>
        <img alt="google" src="images/google.jpg" width="400px" height="220px" />
        <br />
        <img alt="apple" src="images/apple.png" width="500px" height="500px" />
        <br />
        <img alt="microsoft" src="images/microsoft.png" width="524px" height="193px" />
        <br />
        <img alt="oracle" src="images/oracle.png" width="500px" height="250px" />
        <br />
        <%- include partials/footer.ejs %>