<%# File Name: services.ejs * Author's Name: David Yu 200286902 * Website Name:donaldrich.heroku.com * File Desciption: this is the services page html %>

    <%- include partials/header.ejs %>
        <h1><%= title %></h1>
        <img src="images/services.jpg" />
        <h4>Now you probably know why I am so rich. Yeah, because I am a really great entreprenuer.
        I can just smell the money. And I know what tools to use dig them out of the ground. 
        The good news for you is that you can just become as rich as I am. If you have a good idea,
        some real life experience, and strong will, you come to the right place. Shoot me a message,
        we will ride the roller-coaster together. I'll help your start-up get the fanancing, I'll teach
        you how to build and grow it. All I want, by the end of the day, assuming you become successful, is 
        a big fat check from you. </h4>
        <%- include partials/footer.ejs %>