<%# File Name: users.ejs * Author's Name: David Yu 200286902 * Website Name:donaldrich.heroku.com * File Desciption: This is a file created by the system. %>

<%- include partials/header.ejs %>
    <h1>Users</h1>
    <ul>
        <% for (var i=0; i < userlist.length; i++){ %>
            <li>
                <%= userlist[i] %>
            </li>
            <% } %>
    </ul>
    <%- include partials/footer.ejs %>