<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
	</head>
	<body>
	   <h1>Users</h1>
	   <ul>
	   <% for (var i=0; i < userlist.length; i++){ %>
	   <li><%= userlist[i] %></li>
	   <% } %>
	   </ul>
	   <p> You Are The Best</p>
	</body>
</html>
